<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalDrive" value=""/>
    <add key="AutoRun" value="False"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Logging" value="On"/>
    <add key="LogLvl" value="1"/>
    <add key="RunAll" value="False"/>
    <add key="Delay" value="10"/>
  </appSettings>
</configuration>